#head-block {
	color: #DDDEEE;
	padding-bottom: 0px;
}
#home {
	/*background: url('../img/bg2.jpg') no-repeat center center;*/
	/*background-color: #3498DB;*/
	/*background-color: #16A085;*/
	background-size: cover;
	color: #DDDEEE;
/*	padding needed because no h1 in the jumbotron*/
	padding: 78px 0 10px;	
}
/*#portfolio {
	background: url('../img/bg1.jpg') no-repeat center center;
	background-size: cover;
	color: #DDDEEE;
	padding-bottom: 0px;
}
#work {
	background: url('../img/bg3.jpg') no-repeat center center;
	background-size: cover;
	color: #DDDEEE;
	padding-bottom: 0px;
}
#contact {
	background: url('../img/bg4.jpg') no-repeat center center;
	background-size: cover;	
}
#technology {
	background: url('../img/bg9.jpg') no-repeat center center;
	background-size: cover;	
}
#not-found {
	background: url('../img/bg8.jpg') no-repeat center center;
	background-size: cover;		
}*/
footer {
	margin-top: 32px;
}
.footer-text {
	color: #FFF;
}
.carousel-caption {
	color: #111;
	background-color: #EEE;
}
.item {
	background-color: #EEE;
}
.jumbotron h6 {
	color: #222;
}
.tiles h3,
.about h3 {
	margin-top: 76px;
	text-align: center;
}
.about {
	background: url('../img/svg/rocket.svg');
	text-align: center;
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	background-size: 64px 64px;
	margin-top: 2em;
}
.contact {
	background: url('../img/svg/openletter.svg');
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	background-size: 64px 64px;	
}
.support {
	background: url('../img/svg/umbrella.svg');
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	background-size: 64px 64px;
}
.work {
	background: url('../img/svg/store.svg');
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
	background-size: 64px 64px;	
}
.footer-img {
	background: url('../img/svg/eye.svg');
	background-size: 32px 32px;
	background-position: center top;
	background-repeat: no-repeat;
	display: block;
}
article,
.tiles {
	background-color: #FFF;
	padding: 10px;
	border-radius: 6px;
}
/*.contact,
.support,
.work {
	border-bottom: 1px #D35400 dotted;
}*/
.tiles span {
	color: #D35400;
	display: inline-block;
	font-size: 40px;
	margin: 0 0 6px;
	width: 56px;
}
.tiles p {
	text-align: center;
}
.btn-primary {
	background-color: #16A085;
}
#mywork span {
	color: #D35400;
	display: inline-block;
	font-size: 18px;
	margin: 0 0 0 6px;
	width: 100px;
}
#mywork span::after {
   content: " Details ";
}
.modal-body {
	padding-bottom: 2px;
}
.modal-body ul {
	list-style: none;
}
.modal-body li {
	font-size: 16px;
}
.modal-footer {
	margin-top:2px;
  	padding:9px 10px 10px;
}
a: visited {
	color: #FFFFFF;
}
/*.navbar {
	margin-top: 32px;
}*/
.portfolio-meta {
	border-top: 1px dotted #16A085;
	padding-top: 0.25em
}
.portfolio-meta p {
	margin-bottom: 0.3em;
}
.bottom-meta {
	border-bottom: 1px dotted #16A085;
}
